/*------------------------------------*        $SUMMARY
\*------------------------------------*/
/**
 * SUMMARY.................It's me !
 * VARIABLES...............Reusable value.
 * PATTERN.................For HTML-Driven usage.
 * COMPONENT...............CSS-Driven Variation and State .
 */
/*------------------------------------*    $VARIABLES
\*------------------------------------*/
/*------------------------------------*    $PATTERN
\*------------------------------------*/
.span0-12 {
  width: 0%;
}
.span1-12 {
  width: 8.333333333333332%;
}
.span2-12 {
  width: 16.666666666666664%;
}
.span3-12 {
  width: 25%;
}
.span4-12 {
  width: 33.33333333333333%;
}
.span5-12 {
  width: 41.66666666666667%;
}
.span6-12 {
  width: 50%;
}
.span7-12 {
  width: 58.333333333333336%;
}
.span8-12 {
  width: 66.66666666666666%;
}
.span9-12 {
  width: 75%;
}
.span10-12 {
  width: 83.33333333333334%;
}
.span11-12 {
  width: 91.66666666666666%;
}
.span12-12 {
  width: 100%;
}
.pull0-12 {
  right: 0%;
}
.pull1-12 {
  right: 8.333333333333332%;
}
.pull2-12 {
  right: 16.666666666666664%;
}
.pull3-12 {
  right: 25%;
}
.pull4-12 {
  right: 33.33333333333333%;
}
.pull5-12 {
  right: 41.66666666666667%;
}
.pull6-12 {
  right: 50%;
}
.pull7-12 {
  right: 58.333333333333336%;
}
.pull8-12 {
  right: 66.66666666666666%;
}
.pull9-12 {
  right: 75%;
}
.pull10-12 {
  right: 83.33333333333334%;
}
.pull11-12 {
  right: 91.66666666666666%;
}
.pull12-12 {
  right: 100%;
}
.push0-12 {
  left: 0%;
}
.push1-12 {
  left: 8.333333333333332%;
}
.push2-12 {
  left: 16.666666666666664%;
}
.push3-12 {
  left: 25%;
}
.push4-12 {
  left: 33.33333333333333%;
}
.push5-12 {
  left: 41.66666666666667%;
}
.push6-12 {
  left: 50%;
}
.push7-12 {
  left: 58.333333333333336%;
}
.push8-12 {
  left: 66.66666666666666%;
}
.push9-12 {
  left: 75%;
}
.push10-12 {
  left: 83.33333333333334%;
}
.push11-12 {
  left: 91.66666666666666%;
}
.push12-12 {
  left: 100%;
}
.prepend0-12 {
  margin-left: 0%;
}
.prepend1-12 {
  margin-left: 8.333333333333332%;
}
.prepend2-12 {
  margin-left: 16.666666666666664%;
}
.prepend3-12 {
  margin-left: 25%;
}
.prepend4-12 {
  margin-left: 33.33333333333333%;
}
.prepend5-12 {
  margin-left: 41.66666666666667%;
}
.prepend6-12 {
  margin-left: 50%;
}
.prepend7-12 {
  margin-left: 58.333333333333336%;
}
.prepend8-12 {
  margin-left: 66.66666666666666%;
}
.prepend9-12 {
  margin-left: 75%;
}
.prepend10-12 {
  margin-left: 83.33333333333334%;
}
.prepend11-12 {
  margin-left: 91.66666666666666%;
}
.prepend12-12 {
  margin-left: 100%;
}
.append0-12 {
  margin-right: 0%;
}
.append1-12 {
  margin-right: 8.333333333333332%;
}
.append2-12 {
  margin-right: 16.666666666666664%;
}
.append3-12 {
  margin-right: 25%;
}
.append4-12 {
  margin-right: 33.33333333333333%;
}
.append5-12 {
  margin-right: 41.66666666666667%;
}
.append6-12 {
  margin-right: 50%;
}
.append7-12 {
  margin-right: 58.333333333333336%;
}
.append8-12 {
  margin-right: 66.66666666666666%;
}
.append9-12 {
  margin-right: 75%;
}
.append10-12 {
  margin-right: 83.33333333333334%;
}
.append11-12 {
  margin-right: 91.66666666666666%;
}
.append12-12 {
  margin-right: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/*------------------------------------*    $COMPONENT 
\*------------------------------------*/
body {
  margin: 0;
  padding: 0;
}
body > header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body > header:after {
  content: "";
  clear: both;
  display: block;
}
body > footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body > footer:after {
  content: "";
  clear: both;
  display: block;
}
.slogan {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.slogan:before {
  width: 100%;
  content: "Slogan";
  background-color: rgba(150,150,0,0.5);
  display: inline-block;
}
@media (min-width: 768px) {
  .slogan {
    position: relative;
    right: 16.666666666666664%;
    width: 83.33333333333334%;
  }
}
.brand {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.brand:before {
  width: 100%;
  content: "Brand";
  background-color: rgba(0,0,150,0.5);
  display: inline-block;
}
@media (min-width: 768px) {
  .brand {
    position: relative;
    text-align: right;
    left: 83.33333333333334%;
    width: 16.666666666666664%;
  }
}
.title {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}
.title:before {
  width: 100%;
  content: "Title";
  background-color: rgba(255,0,0,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .title {
    width: 16.666666666666664%;
  }
}
.main-nav {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.main-nav:before {
  width: 100%;
  content: "Nav";
  background-color: rgba(0,255,0,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .main-nav {
    width: 83.33333333333334%;
  }
}
.overview {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.overview:before {
  width: 100%;
  content: "Overview";
  background-color: rgba(150,0,0,0.5);
  display: inline-block;
}
.anchor-nav {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.anchor-nav:before {
  width: 100%;
  content: "Anchor nav";
  background-color: rgba(0,0,255,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .anchor-nav {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .anchor-nav {
    width: 33.33333333333333%;
  }
}
@media (min-width: 1200px) {
  .anchor-nav {
    width: 25%;
  }
}
.main {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .main {
    width: 66.66666666666666%;
  }
}
@media (min-width: 1200px) {
  .main {
    width: 75%;
  }
}
.call-to-action {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.call-to-action:before {
  width: 100%;
  content: "Call to action";
  background-color: rgba(255,0,255,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .call-to-action {
    width: 50%;
  }
  .call-to-action:nth-child(n + 3) {
    display: none;
  }
}
@media (min-width: 992px) {
  .call-to-action {
    width: 33.33333333333333%;
  }
  .call-to-action:nth-child(n + 3) {
    display: block;
  }
}
@media (min-width: 1200px) {
  .call-to-action {
    width: 33.33333333333333%;
  }
  .call-to-action:nth-child(n + 3) {
    display: none;
  }
  .call-to-action:nth-child(odd) {
    margin-left: 16.666666666666664%;
  }
}
.secondary-nav {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.secondary-nav:before {
  width: 100%;
  content: "Secondary nav";
  background-color: rgba(0,150,0,0.5);
  display: inline-block;
}
.legals {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.legals:before {
  width: 100%;
  content: "Legals";
  background-color: rgba(0,255,255,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .legals {
    text-align: left;
    position: relative;
    right: 25%;
    width: 75%;
  }
}
.utils {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.utils:before {
  width: 100%;
  content: "Utils";
  background-color: rgba(150,0,150,0.5);
  display: inline-block;
}
@media (min-width: 768px) {
  .utils {
    position: relative;
    text-align: right;
    left: 75%;
    width: 25%;
  }
}
.article {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.article:before {
  width: 100%;
  content: "Article";
  background-color: rgba(255,255,0,0.2);
  display: inline-block;
}
.step {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 100%;
  display: none;
  box-sizing: border-box;
}
.step:before {
  width: 100%;
  content: "Step";
  background-color: rgba(0,255,0,0.2);
  display: inline-block;
}
@media (min-width: 768px) {
  .step {
    width: 33.33333333333333%;
    display: block;
  }
}
.step-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.call-to-action-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.content:after {
  content: "";
  clear: both;
  display: block;
}
